/* Add this media query for screens around 1024x1366 pixels */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .homepage li {
    width: calc(25% - 20px);
    margin-bottom: 15px;
  }

  .homepage li h2 {
    font-size: 16px;
  }

  .homepage p {
    font-size: 14px;
  }

  .homepage p.readmore a {
    padding: 6px 12px;
  }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .homepage li {
    width: calc(33.33% - 20px);
  }

  body {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.3;
  }

  .slider_area,
  .slider {
    display: block;
    position: relative;
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
  }

  .center {
    width: 100%;
    padding: 10px;
  }

  #selectnav1,
  #selectnav2 {
    display: none;
  }

  #nav {
    display: block;
  }

  #f_menu {
    display: block;
  }

  .top_menu {
    margin: 10px auto 0;
  }

  .main_menu_area ul li a {
    font-size: 11px;
    padding: 18px 14px;
  }

  .slider1,
  .main_content {
    width: 100%;
  }

  .slider2,
  .sidebar {
    width: 100%;
  }

  .left_coloum,
  .right_coloum,
  .single_left_coloum,
  .single_cat_left_content,
  .footer_top_area,
  .inner_footer_top {
    width: 100%;
  }

  .gallery img {
    width: 100%;
  }

  .single_cat_left_content h3,
  .single_popular h3,
  .title {
    line-height: 1.7;
  }

  .readmore,
  .single_cat_right_content_meta span {
    margin-right: 10px;
  }

  .footer_top_area {
    padding: 12px 0;
  }

  .footer_menu ul li a {
    padding: 0 12px;
  }
}

/* Add styles for screens with a minimum width of 768px */
@media only screen and (min-width: 768px) {
  .homepage li {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }

  .homepage li h2 {
    font-size: 18px;
  }

  .homepage p {
    font-size: 16px;
  }

  .homepage p.readmore a {
    padding: 8px 15px;
  }
}

@media only screen and (max-width: 767px) {
  .homepage li {
    width: calc(50% - 20px);
  }

  body {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.3;
  }

  .slider_area,
  .slider {
    display: block;
    position: relative;
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
  }

  .center {
    width: 100%;
    padding: 5px;
  }

  #nav,
  #f_menu {
    display: none;
  }

  #selectnav1,
  #selectnav2 {
    background: none repeat scroll 0 0 #003366;
    border: medium none;
    color: #fff;
    display: block;
    font-family: bebasregular;
    font-size: 17px;
    height: 40px;
    margin: 10px auto 0;
    overflow: hidden;
    padding-top: 11px;
    text-align: center;
    width: 100%;
    line-height: 2em;
  }

  .main_menu_area {
    min-height: 45px;
  }

  .logo,
  .top_menu,
  .slider1,
  .slider2,
  .left_coloum,
  .single_left_coloum,
  .gallery img,
  .single_cat_left_content,
  .main_content,
  .right_coloum,
  .sidebar,
  .footer_top_area,
  .inner_footer_top,
  .title,
  .single_popular h3 {
    width: 100%;
    margin: 0 auto;
  }

  .slider1 {
    width: 100%;
  }

  .slider2 {
    max-height: 92px;
    width: 80px;
  }

  .left_coloum,
  .right_coloum,
  .single_left_coloum,
  .footer_top_area,
  .inner_footer_top {
    padding: 0;
  }

  .left_coloum {
    margin: 0 auto;
  }

  .single_left_coloum,
  .gallery img {
    margin-left: 0;
  }

  .single_cat_left_content h3 {
    line-height: 1.7;
  }

  .readmore,
  .single_cat_right_content_meta span {
    margin-right: 0;
  }

  .footer_top_area {
    padding: 12px 0;
  }

  .top_menu ul li a {
    font-size: 10px;
    padding: 0 10px;
  }

  .single_left_coloum_wrapper {
    margin-left: 0;
  }

  .single_left_coloum_wrapper .title {
    margin-left: 0;
  }

  .single_left_coloum {
    margin-left: 0;
  }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .homepage li {
    width: calc(50% - 20px);
  }

  body {
    font-family: Arial;
    font-size: 12px;
    line-height: 1.3;
  }

  .slider_area,
  .slider {
    display: block;
    position: relative;
    width: 100%;
    height: 0%;
    margin: 0;
    padding: 0;
  }

  .center {
    width: 100%;
    padding: 5px;
  }

  #nav,
  #f_menu {
    display: none;
  }

  #selectnav1,
  #selectnav2 {
    background: none repeat scroll 0 0 #003366;
    border: medium none;
    color: #fff;
    display: block;
    font-family: bebasregular;
    font-size: 17px;
    height: 40px;
    margin: 10px auto 0;
    overflow: hidden;
    padding-top: 11px;
    text-align: center;
    width: 100%;
    line-height: 2em;
  }

  .main_menu_area {
    min-height: 45px;
  }

  .logo,
  .top_menu,
  .slider1,
  .slider2,
  .left_coloum,
  .single_left_coloum,
  .gallery img,
  .single_cat_left_content,
  .main_content,
  .right_coloum,
  .sidebar,
  .footer_top_area,
  .inner_footer_top,
  .title,
  .single_popular h3 {
    width: 100%;
    margin: 0 auto;
  }

  .slider1 {
    width: 100%;
  }

  .slider2 {
    min-height: 146px;
    width: 110px;
  }

  .left_coloum,
  .right_coloum,
  .single_left_coloum,
  .footer_top_area,
  .inner_footer_top {
    padding: 0;
  }

  .left_coloum {
    margin: 0 auto;
  }

  .single_left_coloum,
  .gallery img {
    margin-left: 0;
  }

  .single_cat_left_content h3 {
    line-height: 1.7;
  }

  .readmore,
  .single_cat_right_content_meta span {
    margin-right: 0;
  }

  .footer_top_area {
    padding: 12px 0;
  }

  .top_menu ul li a {
    font-size: 10px;
    padding: 0 10px;
  }

  .single_left_coloum_wrapper {
    margin-left: 0;
  }

  .single_left_coloum_wrapper .title {
    margin-left: 0;
  }

  .single_left_coloum {
    margin-left: 0;
  }
}

/* Mobile Layout: 0px. */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .homepage li {
    width: 100%;
  }

  body {
    font-family: Arial;
    font-size: 10px;
    line-height: 1.3;
  }
}
