* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial;
  font-size: 12px;
  line-height: 13px;
}
a{
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #ddd;
  padding: 5px;
}
input[type="submit"] h1,
h2,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 15px;
}
h3 {
  color: #202021;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 13px;
}
h2 {
  font-size: 25px;
  line-height: 30px;
}
img {
  max-width: 100%;
  height: auto;
}
.alignleft {
  float: left;
  margin-left: 0px;
}
.aligncenter {
  display: block;
  margin: 10px auto;
}
.alignright {
  float: right;
  margin-left: 10px;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.center {
  width: 1300px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  transition: all 1.3s ease 0s;
  -moz-transition: all 1.3s ease 0s;
  -webkit-transition: all 1.3s ease 0s;
  -o-transition: all 1.3s ease 0s;
  -ms-transition: all 1.3s ease 0s;
}
div {
  overflow: hidden;
}
.slider {
  height: 300px;
  overflow: visible;
}
.bxslider,
.bx-viewport,
.bx-controls,
.bx-pager,
.bx-controls-direction {
  overflow: visible;
}
#selectnav1 {
  display: none;
}
#selectnav2 {
  display: none;
}
#nav {
  display: block;
}
#f_menu {
  display: block;
}
.logo {
  margin-top: 20px;
}
.top_menu {
  margin-left: 60px;
  margin-top: 60px;
  width: 330px;
}
.top_menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.top_menu ul li {
  float: left;
  border-right: 2px solid #003366;
}
.top_menu ul li:last-child {
  border-right: none;
}
.top_menu ul li a {
  color: #003366;
  display: block;
  font-size: 12px;
  padding: 0 11px;
  line-height: 12px;
}
.top_menu ul li a:hover {
  text-decoration: underline;
}
.social_plus_search {
  margin-bottom: 20px;
}
.social {
  width: 250px;
  margin: 20px 0px 10px 0px;
}
.social ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.social ul li {
  float: left;
  margin-right: 7px;
}
.social ul li a {
  display: block;
  padding: 12px 13px;
}
.twitter {
  background: url("images/social_icons.png") no-repeat scroll 0 0
    rgba(0, 0, 0, 0);
}
.facebook {
  background: url("images/social_icons.png") no-repeat scroll -37px 0px rgba(0, 0, 0, 0);
}
.feed {
  background: url("images/social_icons.png") no-repeat scroll -73px 0px rgba(0, 0, 0, 0);
}
.search {
}
.search #search_form {
}
.search #s {
  width: 87%;
}
.search #searchform {
  background: url("images/search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  height: 28px;
  margin-left: -4px;
  text-indent: -99999px;
  width: 13%;
}
.main_menu_area {
  overflow: visible;
  background: #003366;
  min-height: 50px;
}
.main_menu_area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_menu_area ul li {
  float: left;
  position: relative;
}
.main_menu_area ul li a {
  color: #fff;
  display: block;
  font-family: "bebasregular";
  font-size: 15px;
  padding: 18px 18.7px;
}
.main_menu_area ul li a:hover {
  background: #003366;
}
#nav li ul {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
/* dropdown css level one*/
.main_menu_area ul li ul {
  background: none repeat scroll 0 0 #003366;
  top: 100px;
  position: absolute;
  width: 215px;
  z-index: 99999;
  right: -99999px;
}
.main_menu_area ul li ul li {
  float: none;
  position: relative;
}
.main_menu_area ul > li:hover > ul {
  left: 0px;
  top: 49px;
}
.main_menu_area ul li ul li a {
  font-family: arial;
  font-weight: bold;
}
.main_menu_area ul li ul li a:hover {
}
/* dropdown css level two*/
.main_menu_area ul li ul li ul {
  background: none repeat scroll 0 0 #0d0e0f;
  right: 215px;
  position: absolute;
  width: 215px;
  z-index: 99999;
  right: -99999px;
}
.main_menu_area ul li ul li ul li {
  float: none;
}
.main_menu_area ul li ul li:hover ul {
  left: 215px !important;
  top: 0px;
}
.main_menu_area ul li ul li ul li a {
  font-family: arial;
  font-weight: bold;
}
.slider_area,
.slider {
  display: block;
  position: relative;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0;
}
.slider * {
  margin: 0 auto;
  padding: 0;
}
.slider img {
  display: block;
  max-width:100%;
  max-height:38em;
  width: auto;
  height: auto;
}
.slider1 {
  width: 670px;
}
.slider2 {
  width: 250px;
}
.content_area {
  margin-top: 25px;
}
.main_content {
  width: 900px;
}
.left_coloum {
  width: 600px;
}
.single_left_coloum_wrapper {
  position: relative;
  margin-left: -10px;
  margin-bottom: 30px;
}
.single_left_coloum_wrapper .title {
  margin-left: 10px;
}
.title {
  border-bottom: 4px solid #003366;
  font-family: "bebasregular";
  font-size: 20px;
  word-spacing: 2px;
}
.more {
  background: 57px 9px #003366;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 20px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 10px;
}
.popular_more {
  background: 57px 12px #003366;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 7px 20px;
  text-transform: uppercase;
  width: 74px;
  margin-top: 10px;
}
.single_left_coloum {
  margin-left: 10px;
  width: 180px;
}
.readmore,
.single_cat_right_content_meta span {
  color: #003366;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
}
.readmore:hover,
.single_cat_right_content_meta span:hover {
  color: #003366;
  text-decoration: underline;
}

.gallery img {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 141px;
}

.single_cat_left_content {
  border-bottom: 1px dotted #000;
  margin-left: 10px;
  width: 220px;
}

.right_coloum {
  width: 240px;
}

.single_cat_right_content {
  padding-bottom: 10px;
}
.single_cat_right_content h3 {
  margin-top: 10px;
}
.single_cat_right_content_meta {
}
.editorial {
}
.editorial h3 {
  color: #003366;
}
.sidebar {
  width: 300px;
}
.single_sidebar {
  margin-bottom: 20px;
}
.news-letter {
  padding: 10px;
  background: #e4e4e4;
}
.news-letter h2 {
  font-family: bebasregular;
  font-size: 20px;
  margin-bottom: 5px;
  word-spacing: 2px;
}
.news-letter p {
}
.news-letter form input#name {
  border: 1px solid #999;
  margin-bottom: 10px;
  width: 100%;
}
.news-letter form input#email {
  border: 1px solid #999;
  margin-bottom: 10px;
  width: 100%;
}
.news-letter form input#form-submit {
  background: none repeat scroll 0 0 #003366;
  border: medium none;
  color: #fff;
  font-weight: bold;
  padding: 8px 20px;
  font-size: 13px;
}
.popular {
}
.popular ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular ul li {
  border-bottom: 1px dotted #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.popular ul li:last-child {
  border-bottom: none;
}
.single_popular {
}
.single_popular p {
  margin-bottom: 0;
}
.single_popular h3 {
  line-height: 17px;
  margin-top: 0;
}


/* Pengumuman */


#homepage {
  display: block;
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.homepage {
  display: block;
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0;
}
.homepage ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.homepage li {
  display: block;
  float: left;
  width: 300px;
  margin: 0 30px 0 0;
  padding: 0;
}
.homepage li.last {
  margin-right: 0;
}
.homepage li h2 {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 15px 0 8px 0;
  font-weight: normal;
  line-height: normal;
  border-bottom: 1px dotted #999999;
}
.homepage li h2 img {
  float: left;
  margin: -15px 8px 0 0;
  padding: 5px;
  border: 1px solid #999999;
}
.homepage p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 2em;
  font-size: 14px;
}
.homepage p.readmore {
  display: block;
  text-align: right;
  line-height: normal;
  font-weight: bold;
}
.homepage p.readmore a {
  padding: 8px 15px 10px;
  color: #ffffff;
  background-color: #95ad19;
}

/* Program Pendidikan */
.about-upcoming-shows {
  margin-top: 80px;
}

.about-upcoming-shows h2 {
  font-size: 25px;
  font-weight: 800;
  color: #2a2a2a;
  margin-bottom: 25px;
}

.about-upcoming-shows h4 {
  font-size: 22px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 25px;;
}

.about-upcoming-shows ul{
  margin-bottom: 30px;
}

.about-upcoming-shows ul li {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}

.about-upcoming-shows p {
  margin: 0 0 25px 0;
  padding: 0;
  line-height: 2em;
  font-size: 14px;
}

.about-upcoming-shows .text-button {
  margin-top: -15px;
}

.about-upcoming-shows .next-shows {
  border: 1px dotted #d7dadc;
  padding: 20px;;
}

.about-upcoming-shows .next-shows h4 {
  display: inline-block;
}

.about-upcoming-shows .next-shows h4 i {
  float: left;
  display: inline-block;
  margin-right: 10px;
  height: 30px;
}

.about-upcoming-shows .next-shows ul {
  margin-bottom: 0px;
}

.about-upcoming-shows .next-shows ul li {
  border-bottom: 1px dotted #d7dadc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.about-upcoming-shows .next-shows ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.about-upcoming-shows .next-shows ul li h5 {
  font-size: 15px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 15px;;
}